@import "../abstracts/variable";

.btn{

  &,
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size-default;

    padding: 1.5rem 4rem;
    display: inline-block; /*当父标签text-align: center时，inline-block会被居中，相当与文字*/
    margin-top: 2rem;
    border-radius: 100px;

    position: relative;/*这个标签使得::after的Bug消失了*/

    transition: all .2s;

    border: none;
    cursor: pointer;
  }
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2.4rem rgba($color-black,.15);
    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1.2rem rgba($color-black,.12);
  }
  &--white{
    background-color: $color-white;
    color: $color-grey;
    &::after{
      background-color: $color-white;
    }
  }

  &--green{
    background-color: $color-primary;
    color: $color-white;
    &::after{
      background-color: $color-primary;
    }
  }

  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
  }
  &--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  transition: all .35s ease-in;
  &:link,
  &:visited {
    font-size: $font-size-default;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(1px);
  }
}