.composition{
  position: relative;
  &__photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius: 2px;
    position: absolute;
    transition: all .2s ease-in-out;
    outline-offset: 1rem;

    &--p1{
      left: 0;
      top: -1rem;
    }
    &--p2{
      right: 0;
      top: 4rem;
    }
    &--p3{
      top: 12rem;
      left: 20%;
    }

    &:hover{
      z-index: 999;
      transform: scale(1.1);
      box-shadow: 0 2rem 5rem rgba($color-black, .1);;
      outline: 1rem solid $color-primary;
    }
  }
  &:hover &__photo:not(:hover){
    transform: scale(0.95);
  }

}