.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
  @include respond(tab-port){
    margin-bottom: 6rem;
  }
}

.u-margin-bottom-2 {
  margin-bottom: 1.5rem;
}

.u-margin-top-8 {
  margin-top: 8rem;
  @include respond(tab-port){
    margin-top: 6rem;
  }
}

.u-margin-top-2 {
  margin-top: 1.5rem;
}
